/* ==UserStyle==
@name         Dark-GitHub
@namespace    github.com/vednoc/dark-github
@description  Dark and light, very customizable theme for GitHub.
@author       vednoc <vednoc@pm.me> (https://github.com/vednoc)
@homepageURL  https://github.com/vednoc/dark-github
@supportURL   https://github.com/vednoc/dark-github/issues
@updateURL    https://github.com/vednoc/dark-github/raw/main/github.user.styl
@version      0.19.0
@license      MIT
@preprocessor stylus

@var checkbox cg_debug     'Color generator debug' 0
@var select   cg_theme     'Base color-scheme toggle' {
    'Custom colors   *': 'custom',
    'Dark blue (old)  ': 'old-colors',
    'Dark gray (new)  ': 'new-colors',
    'GitHub Dark      ': 'github-dark',
    'Breeze Dark      ': 'breeze-dark',
}
@var color    cg_bg        'Base background color' #1f232a
@var color    cg_fg        'Base foreground color' #eeeeee
@var color    cg_ac        'Base accent color    ' #7289da

@var range    cg_bg_a      'Adjust background color tones' [0, -25, 25, 0.1, '%']
@var range    cg_fg_a      'Adjust foreground color tones' [0, -25, 25, 0.1, '%']
@var range    cg_ac_a      'Adjust accent color tones    ' [0,   0, 25,   1, '%']
@var range    cg_sc_a      'Adjust syntax color tones    ' [0, -25, 25, 0.1, '%']

@var text     f_ui         'UI font' ''font_name''
@var text     f_mono       'Monospace font' ''font_name''

@var checkbox custom_font   'Use custom font overrides' 1
@var checkbox navbar_sticky 'Use sticky position for the navbar' 0
@var checkbox latest_commit 'Use neutral colors in latest commit' 1
@var checkbox readme_header 'Use old readme header design' 0
@var checkbox short_headers 'Use shorter headers' 0
@var checkbox gitako_shrink 'Fix hidden navigation caused by shrink feature in Gitako' 0
@var checkbox code_borders  'Add borders around code blocks and similar elements' 1

@var color    _red         'Base red color              ' #f07178
@var color    _orange      'Base orange color           ' #f78c6c
@var color    _yellow      'Base yellow color           ' #ffcb6b
@var color    _green       'Base green color            ' #aede62
@var color    _cyan        'Base cyan color             ' #89ddff
@var color    _blue        'Base blue color             ' #82aaff
@var color    _magenta     'Base magenta color          ' #9a91ea
@var color    _violet      'Base violet color           ' #c792ea
@var color    _gray        'Gray color                  ' #bbbbbb
@var color    _white       'White color                 ' #ffffff
@var color    _sh          'Shadow color                ' #00000025
==/UserStyle== */

// Color mixin.
/// All colors: `c: fg bd bg`
/// Only border-color: `c: 0 bd`
c(x, y = 0, z = 0, xi = 1, yi = 1, zi = 1) {
    if x != 0 && x != '_' {            color: xi is 0 ? x : x i }
    if y != 0 && y != '_' {     border-color: yi is 0 ? y : y i }
    if z != 0 && z != '_' { background-color: zi is 0 ? z : z i }
}

// SVG colors.
g(x, y = 0, xi = 1, yi = 1) {
    if x != 0 && x != '_' {   fill: xi is 0 ? x : x i }
    if y != 0 && y != '_' { stroke: yi is 0 ? y : y i }
}

// Pseudo-element builder.
P(a, _z = 0, _c = '', _p = absolute) {
    z-index:  _z;
    content:  _c;
    position: _p;
    if a[0] is a 'call' or a[0] is a 'unit' {    top: a[0] }
    if a[1] is a 'call' or a[1] is a 'unit' {  right: a[1] }
    if a[2] is a 'call' or a[2] is a 'unit' { bottom: a[2] }
    if a[3] is a 'call' or a[3] is a 'unit' {   left: a[3] }
}

// Bare RGB mixin.
/// Converts HEX to bare rrr-ggg-bbb format.
to_rgb(input) {
    unquote(slice(s('%s', rgba(input, 0)), 5, -3))
}

// Raw RGBA mixin.
/// Combine `*-rgb` vars and alpha value.
to_rgba(input, alpha) {
    unquote(s('rgba(var(--%s-rgb), %s)', unquote(input), alpha))
}

// Border radius mixin.
r() { border-radius: arguments }

// Box-shadow mixin.
b() { box-shadow: arguments }

/// Remove old browser prefixes.
vendors = official

to_hsla(input) {
    $h = {}
    $h.hue = unquote(split('deg', '%s' % ceil(hue(input), 2))[0])
    $h.saturation = ceil(saturation(input), 2)
    $h.lightness = ceil(lightness(input), 2)
    s('hsla(%s,%s,%s,1)', $h.hue, $h.saturation, $h.lightness)
}

// Generator -> Color-schemes.
ColorSchemes = {
    'custom':      { BG:   cg_bg, FG:   cg_fg, AC:   cg_ac }
    'old-colors':  { BG: #1f232a, FG: #eeeeee, AC: #7289da }
    'new-colors':  { BG: #292929, FG: #e6e6e6, AC: #d47d3f }
    'github-dark': { BG: #181818, FG: #e6e6e6, AC: #4f8cc9 }
    'breeze-dark': { BG: #232629, FG: #eff0f1, AC: #3daee9 }
}

// Generator -> Active color-scheme.
for selected in ColorSchemes {
    if (selected == cg_theme) {
        // main { dbg: s('%s %s', selected, cg_theme) }
        define('BG', ColorSchemes[selected].BG, global)
        define('FG', ColorSchemes[selected].FG, global)
        define('AC', ColorSchemes[selected].AC, global)
    }
}

/// Helpers.
t  = transparent
i  = !important
BA = cg_bg_a
FA = cg_fg_a
AA = cg_ac_a
SA = cg_sc_a

// Color generator.
/// NOTE: Fix the scope to avoid conflicts.
/{
    g = global

    /// Generator rules.
    if (dark(BG)) {
        a1 = (AA + 15); a2 = (AA + 30); a3 = (AA + 45); a4 = (AA + 60); a5 = (AA + 75)
        s1 = (SA + 15); s2 = (SA + 30); s3 = (SA + 45); s4 = (SA + 70); s5 = (SA + 80)
        b1 = (BA + 15); b2 = (BA - 04); b3 = (BA - 08); b4 = (BA - 13); b5 = (BA - 18)
        f1 = (FA - 10); f2 = (FA + 10); f3 = (FA + 20); f4 = (FA + 30); f5 = (FA + 40)
    } else {
        a1 = (AA + 15); a2 = (AA + 30); a3 = (AA + 45); a4 = (AA + 65); a5 = (AA + 75)
        s1 = (SA + 15); s2 = (SA + 30); s3 = (SA + 45); s4 = (SA + 65); s5 = (SA + 75)
        b1 = (BA - 15); b2 = (BA + 08); b3 = (BA + 12); b4 = (BA + 20); b5 = (BA + 28)
        f1 = (FA - 05); f2 = (FA - 10); f3 = (FA - 15); f4 = (FA - 20); f5 = (FA - 30)
    }

    /// Generate tones for base colors.
    C = {
        bg: {
            '0': darken(BG, b1),
            '1': darken(BG, 0%),
            '2': darken(BG, b2),
            '3': darken(BG, b3),
            '4': darken(BG, b4),
            '5': darken(BG, b5),
        },
        fg: {
            '0': darken(FG, f1),
            '1': darken(FG, 0%),
            '2': darken(FG, f2),
            '3': darken(FG, f3),
            '4': darken(FG, f4),
            '5': darken(FG, f5),
        },
        ac: {
            '0': mix(darken(BG,  0%), AC, 0%),
            '1': mix(darken(BG, 40%), AC, a1),
            '2': mix(darken(BG, 40%), AC, a2),
            '3': mix(darken(BG, 40%), AC, a3),
            '4': mix(darken(BG, 65%), AC, a4),
            '5': mix(darken(BG, 50%), AC, a5),
        },
    }

    /// Generate Stylus-lang variables.
    define('bg-' + key, val, g) for key, val in C.bg
    define('fg-' + key, val, g) for key, val in C.fg
    define('ac-' + key, val, g) for key, val in C.ac

    /// Generate Stylus-lang helpers for CSS variables.
    define('bg' + key, s('var(--bg-%s)', unquote(key)), g) for key, val in C.bg
    define('fg' + key, s('var(--fg-%s)', unquote(key)), g) for key, val in C.fg
    define('ac' + key, s('var(--ac-%s)', unquote(key)), g) for key, val in C.ac
}

/{
C = {
    v1: { hue: 000deg, }, //red
    v2: { hue: 030deg, }, //orange
    v3: { hue: 060deg, }, //yellow
    v4: { hue: 120deg, }, //green
    v5: { hue: 180deg, }, //cyan
    v6: { hue: 210deg, }, //blue
    v7: { hue: 270deg, }, //magenta
    v8: { hue: 300deg, }, //violet
    v9: { hue: 000deg, }, //gray
}

for c, i in C {
    $hue = C[c].hue
    // $dbg = 'k: ' + c + ' ::: i: ' + i + ' ::: val: ' + $hue
    for num in 0..9 {
        $res = ''
        if (c != 'v9') {
            $h = C[c].hue + num / 2
            $s = 100 - num * 8
            $offset = (num < 2) ? 0.8 : 1.6
            $l = 5 + (num + $offset) * 5
            $res = hsl($h, $s, $l)
            $res = mix(BG, $res, 10%)
        } else {
            $res = hsl(C[c].hue, 0, (num + 2) * 8)
        }
        $res = darken($res, SA)
        $res = to_hsla($res)
        // $dbg = c + '-' + num + ' ::: ' + $res
        define(c + num, s('var(--%s-%s)', unquote(c), num), global)
        define(c + '-' + num, $res, global)
    }
}
}

@-moz-document regexp('https?://((gist|docs|support)\\.)?github?.com(/.*)?') {
    // Show debug.
    if (cg_debug) {
        body > div:first-child {
            margin-top: 2rem
            &::before {
                P: -2rem 0 calc(100vh - 3rem) 0, 0
                content: \
                    '  ⭐ BG: ' + luminosity(BG) + \
                    '  ⭐ FG: ' + luminosity(FG) + \
                    '  🌟 v40: ' + v40 + \
                    '  🌟 v41: ' + v41 + \
                    '  🌟 v42: ' + v42
                text-align: center
                line-height: 2rem
                c: fg1 0 bg4
                b: 0 1px bg5
            }
        }
    }

    // Userstyle variables.
    :root {
        /// Userstyle info.
        --note: 'Dark-GitHub v0.19.0'

        /// Feat -> Custom monospace font.
        --f-mono: f_mono, SFMono-Regular, Consolas, Liberation Mono, Menlo, \
                Fira Code, monospace

        /// Feat -> Custom user interface font.
        --f-ui: f_ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, \
                Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji

        /// Generate v1 color variables.
        for _v in (bg fg ac) {
            for _i in 0..5 {
                key = s('--%s-%s', _v, _i)
                /// Escape `\` for `*-0` vars.
                val = _v + \- + _i

                /// Generate CSS variables.
                { key }: val
                // { key + '-rgb' }: to_rgb(val)
            }
        }

        /// Generate v2 color variables.
        for tone in 0..9 {
            for number in 0..9 {
                key = '--v%s-%s' % ((tone) (number))
                val = '%s' % (v + tone + \- + number)
                { key }: val
            }
        }
    }

    // Native CSS variables.
    :root,
    [data-color-mode='light'] {
        --color-scale-black: #1b1f23;
        --color-scale-white: #fff;
        --color-scale-gray-0: #fafbfc;
        --color-scale-gray-1: bg5 //#f6f8fa;
        --color-scale-gray-2: bg4 //#e1e4e8;
        --color-scale-gray-3: #d1d5da;
        --color-scale-gray-4: #959da5;
        --color-scale-gray-5: #6a737d;
        --color-scale-gray-6: #586069;
        --color-scale-gray-7: fg3 //#444d56;
        --color-scale-gray-8: #2f363d;
        --color-scale-gray-9: #24292e;
        --color-scale-blue-0: #f1f8ff;
        --color-scale-blue-1: v64 //#dbedff;
        --color-scale-blue-2: #c8e1ff;
        --color-scale-blue-3: #79b8ff;
        --color-scale-blue-4: #2188ff;
        --color-scale-blue-5: #0366d6;
        --color-scale-blue-6: #005cc5;
        --color-scale-blue-7: #044289;
        --color-scale-blue-8: #032f62;
        --color-scale-blue-9: v60 //#05264c;
        --color-scale-green-0: #f0fff4;
        --color-scale-green-1: #dcffe4;
        --color-scale-green-2: #bef5cb;
        --color-scale-green-3: #85e89d;
        --color-scale-green-4: #34d058;
        --color-scale-green-5: v43;
        --color-scale-green-6: #22863a;
        --color-scale-green-7: #176f2c;
        --color-scale-green-8: #165c26;
        --color-scale-green-9: #144620;
        --color-scale-yellow-0: #fffdef;
        --color-scale-yellow-1: #fffbdd;
        --color-scale-yellow-2: #fff5b1;
        --color-scale-yellow-3: #ffea7f;
        --color-scale-yellow-4: #ffdf5d;
        --color-scale-yellow-5: #ffd33d;
        --color-scale-yellow-6: #f9c513;
        --color-scale-yellow-7: #dbab09;
        --color-scale-yellow-8: #b08800;
        --color-scale-yellow-9: #735c0f;
        --color-scale-orange-0: #fff8f2;
        --color-scale-orange-1: #ffebda;
        --color-scale-orange-2: #ffd1ac;
        --color-scale-orange-3: #ffab70;
        --color-scale-orange-4: #fb8532;
        --color-scale-orange-5: #f66a0a;
        --color-scale-orange-6: #e36209;
        --color-scale-orange-7: #d15704;
        --color-scale-orange-8: #c24e00;
        --color-scale-orange-9: #a04100;
        --color-scale-red-0: v15 //#ffeef0;
        --color-scale-red-1: v14 //#ffdce0;
        --color-scale-red-2: #fdaeb7;
        --color-scale-red-3: #f97583;
        --color-scale-red-4: #ea4a5a;
        --color-scale-red-5: #d73a49;
        --color-scale-red-6: #cb2431;
        --color-scale-red-7: #b31d28;
        --color-scale-red-8: #9e1c23;
        --color-scale-red-9: #86181d;
        --color-scale-purple-0: #f5f0ff;
        --color-scale-purple-1: #e6dcfd;
        --color-scale-purple-2: #d1bcf9;
        --color-scale-purple-3: #b392f0;
        --color-scale-purple-4: #8a63d2;
        --color-scale-purple-5: #6f42c1;
        --color-scale-purple-6: #5a32a3;
        --color-scale-purple-7: #4c2889;
        --color-scale-purple-8: #3a1d6e;
        --color-scale-purple-9: #29134e;
        --color-scale-pink-0: #ffeef8;
        --color-scale-pink-1: #fedbf0;
        --color-scale-pink-2: #f9b3dd;
        --color-scale-pink-3: #f692ce;
        --color-scale-pink-4: #ec6cb9;
        --color-scale-pink-5: #ea4aaa;
        --color-scale-pink-6: #d03592;
        --color-scale-pink-7: #b93a86;
        --color-scale-pink-8: #99306f;
        --color-scale-pink-9: #6d224f;
        --color-auto-black: fg1 //#1b1f23;
        --color-auto-white: bg0 //#fff;
        --color-auto-gray-0: bg5 //#fafbfc;
        --color-auto-gray-1: bg5 //#f6f8fa;
        --color-auto-gray-2: bg4 //#e1e4e8;
        --color-auto-gray-3: bg4 //#d1d5da;
        --color-auto-gray-4: fg5 //#959da5;
        --color-auto-gray-5: fg5 //#6a737d;
        --color-auto-gray-6: fg3 //#586069;
        --color-auto-gray-7: fg3 //#444d56;
        --color-auto-gray-8: fg4 //#2f363d;
        --color-auto-gray-9: fg4 //#24292e;
        --color-auto-blue-0: v60 //#f1f8ff;
        --color-auto-blue-1: v61 //#dbedff;
        --color-auto-blue-2: v62 //#c8e1ff;
        --color-auto-blue-3: v63 //#79b8ff;
        --color-auto-blue-4: v64 //#2188ff;
        --color-auto-blue-5: v65 //#0366d6;
        --color-auto-blue-6: v66 //#005cc5;
        --color-auto-blue-7: v67 //#044289;
        --color-auto-blue-8: v68 //#032f62;
        --color-auto-blue-9: v69 //#05264c;
        --color-auto-green-0: #f0fff4;
        --color-auto-green-1: #dcffe4;
        --color-auto-green-2: #bef5cb;
        --color-auto-green-3: #85e89d;
        --color-auto-green-4: #34d058;
        --color-auto-green-5: v45 //#28a745;
        --color-auto-green-6: v46 //#22863a;
        --color-auto-green-7: #176f2c;
        --color-auto-green-8: #165c26;
        --color-auto-green-9: #144620;
        --color-auto-yellow-0: #fffdef;
        --color-auto-yellow-1: v31 //#fffbdd;
        --color-auto-yellow-2: #fff5b1;
        --color-auto-yellow-3: #ffea7f;
        --color-auto-yellow-4: #ffdf5d;
        --color-auto-yellow-5: #ffd33d;
        --color-auto-yellow-6: v36 //#f9c513;
        --color-auto-yellow-7: #dbab09;
        --color-auto-yellow-8: #b08800;
        --color-auto-yellow-9: #735c0f;
        --color-auto-orange-0: #fff8f2;
        --color-auto-orange-1: #ffebda;
        --color-auto-orange-2: #ffd1ac;
        --color-auto-orange-3: #ffab70;
        --color-auto-orange-4: #fb8532;
        --color-auto-orange-5: #f66a0a;
        --color-auto-orange-6: #e36209;
        --color-auto-orange-7: #d15704;
        --color-auto-orange-8: #c24e00;
        --color-auto-orange-9: #a04100;
        --color-auto-red-0: v15 //#ffeef0;
        --color-auto-red-1: v14 //#ffdce0;
        --color-auto-red-2: #fdaeb7;
        --color-auto-red-3: #f97583;
        --color-auto-red-4: #ea4a5a;
        --color-auto-red-5: v13 //#d73a49;
        --color-auto-red-6: v13 //#cb2431;
        --color-auto-red-7: #b31d28;
        --color-auto-red-8: #9e1c23;
        --color-auto-red-9: #86181d;
        --color-auto-purple-0: #f5f0ff;
        --color-auto-purple-1: #e6dcfd;
        --color-auto-purple-2: #d1bcf9;
        --color-auto-purple-3: #b392f0;
        --color-auto-purple-4: v84 //#8a63d2;
        --color-auto-purple-5: v85 //#6f42c1;
        --color-auto-purple-6: #5a32a3;
        --color-auto-purple-7: #4c2889;
        --color-auto-purple-8: #3a1d6e;
        --color-auto-purple-9: #29134e;
        --color-auto-pink-0: #ffeef8;
        --color-auto-pink-1: #fedbf0;
        --color-auto-pink-2: #f9b3dd;
        --color-auto-pink-3: #f692ce;
        --color-auto-pink-4: #ec6cb9;
        --color-auto-pink-5: #ea4aaa;
        --color-auto-pink-6: #d03592;
        --color-auto-pink-7: #b93a86;
        --color-auto-pink-8: #99306f;
        --color-auto-pink-9: #6d224f;

        --color-text-primary: fg1 //#24292e;
        --color-text-secondary: fg3 //#586069;
        --color-text-tertiary: fg4 //#6a737d;
        --color-text-placeholder: fg5 //#6a737d;
        --color-text-disabled: fg5 //#6a737d;
        --color-text-inverse: #fff;
        --color-text-link: ac0 //#0366d6;
        --color-text-danger: v16 //#cb2431;
        --color-text-success: v46 //#22863a;
        --color-text-warning: v26 //#b08800;
        --color-text-white: #fff;

        --color-icon-primary: fg1 //#24292e;
        --color-icon-secondary: fg4 //#586069;
        --color-icon-tertiary: fg3 //#959da5;
        --color-icon-info: v65 //#0366d6;
        --color-icon-danger: v15 //#d73a49;
        --color-icon-success: v45 //#22863a;
        --color-icon-warning: v35 //#b08800;

        --color-state-hover-primary-bg: ac4 //#0366d6;
        --color-state-hover-primary-border: ac4 //#0366d6;
        --color-state-hover-primary-text: #fff;
        --color-state-hover-primary-icon: #fff;
        --color-state-hover-secondary-bg: bg3 //#f6f8fa;
        --color-state-hover-secondary-border: bg5 //#f6f8fa;
        --color-state-selected-primary-bg: ac3 //#0366d6;
        --color-state-selected-primary-border: ac3 //#0366d6;
        --color-state-selected-primary-text: #fff;
        --color-state-selected-primary-icon: #fff;
        --color-state-focus-border: ac3 //#0366d6;
        --color-state-focus-shadow: 0 0 0 3px ac5 //rgba(3,102,214,0.3);

        --color-border-primary: bg5 //#e1e4e8;
        --color-border-secondary: bg3 //#eaecef;
        --color-border-tertiary: bg4 //#d1d5da;
        --color-border-overlay: bg5 //#e1e4e8
        --color-border-inverse: bg1 //#fff;
        --color-border-info: v63 //#0366d6;
        --color-border-danger: v13 //#d73a49;
        --color-border-success: v43 //#34d058;
        --color-border-warning: v33 //#f9c513;

        --color-bg-canvas: bg1 //#fff;            Main elements
        --color-bg-canvas-mobile: #fff;
        --color-bg-canvas-inverse: bg3 //#24292e; Navbar
        --color-bg-canvas-inset: bg0 //#f6f8fa;   Dashboard inset
        --color-bg-primary: bg1 //#fff;           Sidebar
        --color-bg-secondary: bg2 //#fafbfc;      Navigation/notices
        --color-bg-tertiary: bg3 //#f6f8fa;       Background
        --color-bg-overlay: bg1 //#fff;
        --color-bg-backdrop: rgba(27,31,35,0.5)
        --color-bg-info: ac5 //#f1f8ff;
        --color-bg-info-inverse: var(--color-state-hover-primary-bg)
        --color-bg-danger: v11 //#ffeef0;
        --color-bg-danger-inverse: #d73a49;
        --color-bg-success: v41 //#dcffe4;
        --color-bg-success-inverse: v43;
        --color-bg-warning: v31 //#fff5b1;
        --color-bg-warning-inverse: #ffd33d;

        --color-shadow-small: 0 1px 0 #0002 //rgba(27,31,35,0.04);
        --color-shadow-medium: 0 3px 6px #0003 //rgba(149,157,165,0.15);
        --color-shadow-large: 0 8px 15px #0004 //rgba(149,157,165,0.2);
        --color-shadow-extra-large: 0 10px 20px #0003;
        --color-shadow-highlight: inset 0 1px 0 #0002 //hsla(0,0%,100%,0.25);
        --color-shadow-inset: inset 0 1px 0 #0002 //rgba(225,228,232,0.2);
        --color-shadow-focus: 0 0 0 3px ac5;

        --color-fade-black-10: #ffffff10 //#1b1f231a;
        --color-fade-black-15: #ffffff20 //#1b1f2326;
        --color-fade-black-30: #ffffff30 //#1b1f234d;
        --color-fade-black-50: #ffffff50 //#1b1f2380;
        --color-fade-black-70: #ffffff90 //#1b1f23b3;
        --color-fade-black-85: #ffffff85 //#1b1f23d9;
        --color-fade-white-10: #ffffff1a;
        --color-fade-white-15: #ffffff26;
        --color-fade-white-30: #ffffff4d;
        --color-fade-white-50: #ffffff80;
        --color-fade-white-70: #ffffffb3;
        --color-fade-white-85: #ffffffd9;

        --color-alert-info-text: fg1 //#24292e;
        --color-alert-info-icon: ac2 //rgba(4,66,137,0.6);
        --color-alert-info-bg: v61 //#dbedff;
        --color-alert-info-border: v63 //rgba(4,66,137,0.2);
        --color-alert-warn-text: fg1 //#24292e;
        --color-alert-warn-icon: v37 //#b08800;
        --color-alert-warn-bg: v31 //#fffbdd;
        --color-alert-warn-border: v33 //rgba(176,136,0,0.2);
        --color-alert-error-text: fg1 //#24292e;
        --color-alert-error-icon: v17 //rgba(158,28,35,0.6);
        --color-alert-error-bg: v11 //#ffe3e6;
        --color-alert-error-border: v13 //rgba(158,28,35,0.2);
        --color-alert-success-text: fg1 //#24292e;
        --color-alert-success-icon: v47 //rgba(23,111,44,0.8);
        --color-alert-success-bg: v41 //#dcffe4;
        --color-alert-success-border: v43 //rgba(23,111,44,0.2);

        --color-autocomplete-bg: bg3 //#fff;
        --color-autocomplete-border: bg5 //#e1e4e8;
        --color-autocomplete-row-border: bg4 //#eaecef;
        --color-autocomplete-shadow: 0 3px 6px #0002 //rgba(149,157,165,0.15);
        --color-blankslate-icon: fg5 //#a3aab1;

        --color-btn-text: fg1 //#24292e;
        --color-btn-bg: bg2 //#fafbfc;
        --color-btn-border: bg5 //rgba(27,31,35,0.15);
        --color-btn-shadow: 0 1px 0 #00000010 //rgba(27,31,35,0.04);
        --color-btn-inset-shadow: inset 0 1px 0 #00000010 //hsla(0,0%,100%,0.25);
        --color-btn-hover-bg: bg3 //#f3f4f6;
        --color-btn-hover-border: bg5 //rgba(27,31,35,0.15);
        --color-btn-selected-bg: bg4 //#edeff2;
        --color-btn-focus-bg: bg4 //#fafbfc;
        --color-btn-focus-border: bg5 //rgba(27,31,35,0.15);
        --color-btn-focus-shadow: 0 0 0 3px v62 //rgba(3,102,214,0.3);
        --color-btn-shadow-active: inset 0 0.15em 0.3em #00000010 //rgba(27,31,35,0.15);
        --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(3,102,214,0.3);

        --color-btn-primary-text: #fff;
        --color-btn-primary-bg: v42 //#2ea44f;
        --color-btn-primary-border: v45 //rgba(27,31,35,0.15);
        --color-btn-primary-shadow: 0 1px 0 rgba(27,31,35,0.1);
        --color-btn-primary-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.03);
        --color-btn-primary-hover-bg: v43 //#2c974b;
        --color-btn-primary-hover-border: v45 //rgba(27,31,35,0.15);
        --color-btn-primary-selected-bg: v44 //#2a8f47;
        --color-btn-primary-selected-shadow: inset 0 1px 0 rgba(20,70,32,0.2);
        --color-btn-primary-disabled-text: v95 //hsla(0,0%,100%,0.8);
        --color-btn-primary-disabled-bg: v40 //#94d3a2;
        --color-btn-primary-disabled-border: v41 //rgba(27,31,35,0.1);
        --color-btn-primary-focus-bg: v43 //#2ea44f;
        --color-btn-primary-focus-border: v45 //rgba(27,31,35,0.15);
        --color-btn-primary-focus-shadow: 0 0 0 3px v41 //rgba(46,164,79,0.4);
        --color-btn-primary-icon: hsla(0,0%,100%,0.8);
        --color-btn-primary-counter-bg: hsla(0,0%,100%,0.2);

        --color-btn-outline-text: ac2 //#0366d6;
        --color-btn-outline-hover-text: fg1;
        --color-btn-outline-hover-bg: ac3 //#0366d6;
        --color-btn-outline-hover-border: ac3 //rgba(27,31,35,0.15);
        --color-btn-outline-hover-shadow: 0 1px 0 ac5;
        --color-btn-outline-hover-inset-shadow: solid 0 1px 0 ac5;
        --color-btn-outline-hover-counter-bg: hsla(0,0%,100%,0.2);
        --color-btn-outline-selected-text: fg1;
        --color-btn-outline-selected-bg: v64 //#035fc7;
        --color-btn-outline-selected-border: v65 //rgba(27,31,35,0.15);
        --color-btn-outline-selected-shadow: inset 0 1px 0 rgba(5,38,76,0.2);
        --color-btn-outline-disabled-text: ac5 //rgba(3,102,214,0.5);
        --color-btn-outline-disabled-bg: bg2 //#fafbfc;
        --color-btn-outline-disabled-counter-bg: rgba(3,102,214,0.05);
        --color-btn-outline-focus-border: ac4 //rgba(27,31,35,0.15);
        --color-btn-outline-focus-shadow: 0 0 0 3px ac5 //rgba(0,92,197,0.4);
        --color-btn-outline-counter-bg: rgba(3,102,214,0.1);

        --color-btn-danger-text: v16 //#d73a49;
        --color-btn-danger-hover-text: #fff;
        --color-btn-danger-hover-bg: v11 //#cb2431;
        --color-btn-danger-hover-border: v13 //rgba(27,31,35,0.15);
        --color-btn-danger-hover-shadow: 0 1px 0 rgba(27,31,35,0.1);
        --color-btn-danger-hover-inset-shadow: inset 0 1px 0 hsla(0,0%,100%,0.03);
        --color-btn-danger-hover-counter-bg: hsla(0,0%,100%,0.2);
        --color-btn-danger-selected-text: #fff;
        --color-btn-danger-selected-bg: v12 //#d42d3d;
        --color-btn-danger-selected-border: v14 //rgba(27,31,35,0.15);
        --color-btn-danger-selected-shadow: inset 0 1px 0 rgba(134,24,29,0.2);
        --color-btn-danger-disabled-text: v95 //rgba(215,58,73,0.5);
        --color-btn-danger-disabled-bg: v15 //#fafbfc;
        --color-btn-danger-disabled-counter-bg: rgba(215,58,73,0.05);
        --color-btn-danger-focus-border: v15 //rgba(27,31,35,0.15);
        --color-btn-danger-focus-shadow: 0 0 0 3px v11 //rgba(203,36,49,0.4);
        --color-btn-danger-counter-bg: rgba(215,58,73,0.1);

        --color-btn-counter-bg: #1b1f2314;
        --color-counter-text: fg1 //#24292e;
        --color-counter-bg: bg5 //#d1d5da80;
        --color-counter-border: #d1d5da80;
        --color-topic-tag-text: ac0 //#0366d6;
        --color-topic-tag-bg: ac5 //#f1f8ff;
        --color-topic-tag-hover-bg: ac4 //#def;
        --color-topic-tag-active-bg: ac3 //#e7f3ff;

        --color-topic-tag-active-bg: #e7f3ff;
        --color-merge-box-success-icon-bg: v43;
        --color-merge-box-success-icon-text: #fff;
        --color-merge-box-success-icon-border: t;
        --color-merge-box-success-indicator-bg: v43;
        --color-merge-box-success-indicator-border: t;
        --color-merge-box-merged-icon-bg: #6f42c1;
        --color-merge-box-merged-icon-text: #fff;
        --color-merge-box-merged-icon-border: t;
        --color-merge-box-merged-box-border: #6f42c1;
        --color-merge-box-neutral-icon-bg: #6a737d;
        --color-merge-box-neutral-icon-text: #fff;
        --color-merge-box-neutral-icon-border: t;
        --color-merge-box-neutral-indicator-bg: #6a737d;
        --color-merge-box-neutral-indicator-border: t;
        --color-merge-box-warning-icon-bg: #dbab09;
        --color-merge-box-warning-icon-text: #fff;
        --color-merge-box-warning-icon-border: t;
        --color-merge-box-warning-box-border: #ffd33d;
        --color-merge-box-warning-merge-highlight: t;
        --color-merge-box-error-icon-bg: #d73a49;
        --color-merge-box-error-icon-text: #fff;
        --color-merge-box-error-icon-border: t;
        --color-merge-box-error-indicator-bg: #d73a49;
        --color-merge-box-error-indicator-border: t;

        --color-project-card-bg: #fff;
        --color-project-header-bg: #24292e;
        --color-project-sidebar-bg: #fff;
        --color-project-gradient-in: #fff;
        --color-project-gradient-out: hsla(0,0%,100%,0);

        --color-input-bg: bg2 //#fff;
        --color-input-contrast-bg: bg3 //#fafbfc;
        --color-input-border: bg5 //#e1e4e8;
        --color-input-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
        --color-input-disabled-bg: bg1 //#fff;
        --color-input-disabled-border: bg3 //#e1e4e8;
        --color-input-warning-border: v30 //#f9c513;
        --color-input-error-border: v10 //#cb2431;

        --color-input-tooltip-success-text: #144620;
        --color-input-tooltip-success-bg: #dcffe4;
        --color-input-tooltip-success-border: #34d058;
        --color-input-tooltip-warning-text: #735c0f;
        --color-input-tooltip-warning-bg: #fff5b1;
        --color-input-tooltip-warning-border: #f9c513;
        --color-input-tooltip-error-text: #86181d;
        --color-input-tooltip-error-bg: #ffeef0;
        --color-input-tooltip-error-border: #f97583;

        --color-avatar-border: #1b1f231a;
        --color-avatar-stack-fade: #d1d5da;
        --color-avatar-stack-fade-more: #e1e4e8;
        --color-avatar-child-shadow: -2px -2px 0 hsla(0,0%,100%,0.8);

        --color-toast-text: #24292e;
        --color-toast-bg: #fff;
        --color-toast-border: #e1e4e8;
        --color-toast-shadow: 0 8px 24px rgba(149,157,165,0.2);
        --color-toast-icon: #fff;
        --color-toast-icon-bg: #0366d6;
        --color-toast-icon-border: t;
        --color-toast-success-text: #24292e;
        --color-toast-success-border: #e1e4e8;
        --color-toast-success-icon: #fff;
        --color-toast-success-icon-bg: v43;
        --color-toast-success-icon-border: t;
        --color-toast-warning-text: #24292e;
        --color-toast-warning-border: #e1e4e8;
        --color-toast-warning-icon: #24292e;
        --color-toast-warning-icon-bg: #ffd33d;
        --color-toast-warning-icon-border: t;
        --color-toast-danger-text: #24292e;
        --color-toast-danger-border: #e1e4e8;
        --color-toast-danger-icon: #fff;
        --color-toast-danger-icon-bg: #d73a49;
        --color-toast-danger-icon-border: t;
        --color-toast-loading-text: #24292e;
        --color-toast-loading-border: #e1e4e8;
        --color-toast-loading-icon: #fff;
        --color-toast-loading-icon-bg: #586069;
        --color-toast-loading-icon-border: t;


        --color-timeline-text: fg3 //#444d56;
        --color-timeline-badge-bg: bg3 //#e1e4e8;
        --color-timeline-target-badge-border: ac3 //#2188ff;
        --color-timeline-target-badge-shadow: ac5 //#c8e1ff;

        --color-select-menu-bg: bg2 //#fff;
        --color-select-menu-border: bg5 //#e1e4e8;
        --color-select-menu-border-secondary: bg4 //#eaecef;
        --color-select-menu-shadow: 0 0 18px rgba(27,31,35,0.4);
        --color-select-menu-backdrop-bg: rgba(27,31,35,0.5);
        --color-select-menu-backdrop-border: t;
        --color-select-menu-tap-highlight: rgba(209,213,218,0.5);
        --color-select-menu-tap-focus-bg: #dbedff;

        --color-box-blue-border: v64 //#c8e1ff;
        --color-box-row-yellow-bg: v31 //#fffbdd;
        --color-box-row-blue-bg: v61 //#f1f8ff;
        --color-box-header-blue-bg: ac5 //#f1f8ff;
        --color-box-header-blue-border: ac4 //#c8e1ff;
        --color-box-border-info: ac3 //rgba(3,102,214,0.2);
        --color-box-bg-info: ac4 //#f1f8ff;
        --color-box-border-warning: v34 //rgba(255,211,61,0.4);
        --color-box-bg-warning: v31 //#fffdef;

        --color-dropdown-bg: bg1 //#fff;
        --color-dropdown-border: bg5 //#e1e4e8;
        --color-dropdown-shadow: 0 8px 24px #0002 //rgba(149,157,165,0.2);

        --color-label-border: #e1e4e8;
        --color-label-primary-text: #24292e;
        --color-label-primary-border: #6a737d;
        --color-label-secondary-text: #586069;
        --color-label-secondary-border: #e1e4e8;
        --color-label-info-text: #0366d6;
        --color-label-info-border: #0366d6;
        --color-label-success-text: #22863a;
        --color-label-success-border: v43;
        --color-label-warning-text: #735c0f;
        --color-label-warning-border: #b08800;
        --color-label-danger-text: #d73a49;
        --color-label-danger-border: #cb2431;

        --color-counter-primary-text: fg1 //#fff;
        --color-counter-primary-bg: bg5 //#6a737d;
        --color-counter-secondary-text: bg5 //#6a737d;

        --color-popover-border: bg5 //#1b1f2326;

        --color-branch-name-text: fg3 //#1b1f2399;
        --color-branch-name-icon: fg3 //#a8bbd0;
        --color-branch-name-bg: bg3 //#eaf5ff;
        --color-branch-name-link-text: ac0 //#0366d6;
        --color-branch-name-link-icon: fg3 //#a8bbd0;
        --color-branch-name-link-bg: bg3 //#eaf5ff;

        --color-markdown-code-bg: bg2 //#1b1f230d;
        --color-markdown-frame-border: #dfe2e5;
        --color-markdown-blockquote-border: bg4 //#dfe2e5;
        --color-markdown-table-border: bg5 //#dfe2e5;
        --color-markdown-table-tr-border: #c6cbd1;

        --color-menu-heading-text: fg1 //#24292e;
        --color-menu-border-active: ac0 //#f9826c;
        --color-menu-bg-active: t;
        --color-sidenav-selected-bg: bg1 //#fff;
        --color-sidenav-border-active: ac0 //#f9826c;
        --color-tabnav-selected-bg: bg1 //#fff;
        --color-header-text: fg3 //#ffffffb3;
        --color-header-bg: bg3 //#24292e;
        --color-header-logo: fg1 //#fff;
        --color-filter-item-bar-bg: #eff3f6;
        --color-hidden-text-expander-bg: bg4 //#dfe2e5;
        --color-hidden-text-expander-bg-hover: bg4 //#c6cbd1;
        --color-drag-and-drop-border: #c3c8cf;
        --color-upload-enabled-border: bg5 //#dfe2e5;
        --color-upload-enabled-border-focused: ac3 //#4a9eff;
        --color-previewable-comment-form-border: #c3c8cf;
        --color-previewable-comment-form-bg: t //#fff; /// @upstream

        --color-underlinenav-border: rgba(209,213,218,0);
        --color-underlinenav-border-hover: bg5 //#d1d5da;
        --color-underlinenav-border-active: ac0 //#f9826c;
        --color-underlinenav-text: fg4 //#24292e;
        --color-underlinenav-text-hover: fg3 //#24292e;
        --color-underlinenav-text-active: fg1 //#24292e;
        --color-underlinenav-icon: fg4 //#959da5;
        --color-underlinenav-icon-hover: fg3 //#959da5;
        --color-underlinenav-icon-active: fg1 //#24292e;
        --color-underlinenav-counter-text: fg1 //#24292e;

        --color-verified-badge-text: v47 //#22863a;
        --color-verified-badge-bg: bg2 //#fff;
        --color-verified-badge-border: bg5 //#e1e4e8;

        --color-social-count-bg: bg3 //#fff;
        --color-header-search-bg: fg3 //#24292e;
        --color-header-search-border: bg5 //#444d56;

        --color-diffstat-neutral-bg: bg5 //#d1d5da;
        --color-diffstat-neutral-border: bg5 //#d1d5da;
        --color-diffstat-deletion-bg: v15 //#d73a49;
        --color-diffstat-deletion-border: v15 //#d73a49;
        --color-diffstat-addition-bg: v45 //#28a745;
        --color-diffstat-addition-border: v45 //#28a745;

        --color-icon-folder: ac2 //#79b8ff;
        --color-hl-author-bg: #f1f8ff;
        --color-hl-author-border: #c8e1ff;
        --color-logo-subdued: #d1d5da;
        --color-discussion-border: #a2cbac;
        --color-discussion-bg-success: v43;

        --color-diff-addition-text: v45 //#22863a;
        --color-diff-addition-bg: v40 //#e6ffed;
        --color-diff-addition-border: v47 //#34d058;
        --color-diff-deletion-text: v15 //#cb2431;
        --color-diff-deletion-bg: v10 //#ffeef0;
        --color-diff-deletion-border: v17 //#d73a49;
        --color-diff-change-text: v25 //#b08800;
        --color-diff-change-bg: v20 //#fff5b1;
        --color-diff-change-border: v27 //#f9c513;
        --color-diff-blob-num-text: fg3 //rgba(27,31,35,0.3);
        --color-diff-blob-num-hover-text: fg1 //rgba(27,31,35,0.6);
        --color-diff-blob-addition-num-bg: v41 //#cdffd8;
        --color-diff-blob-addition-line-bg: v40 //#e6ffed;
        --color-diff-blob-addition-word-bg: v42 //#acf2bd;
        --color-diff-blob-deletion-num-bg: v11 //#ffdce0;
        --color-diff-blob-deletion-line-bg: v10 //#ffeef0;
        --color-diff-blob-deletion-word-bg: v12 //#fdb8c0;
        --color-diff-blob-hunk-text: fg4 //rgba(27,31,35,0.7);
        --color-diff-blob-hunk-num-bg: bg4 //#dbedff;
        --color-diff-blob-hunk-line-bg: bg3 //#f1f8ff;
        --color-diff-blob-empty-block-bg: bg2 //#fafbfc;
        --color-diff-blob-selected-line-highlight-bg: bg4 //rgba(255,223,93,0.2);
        --color-diff-blob-selected-line-highlight-border: v33 //#ffd33d;
        --color-diff-blob-selected-line-highlight-border: v32 //#ffd33d;
        --color-diff-blob-selected-line-highlight-mix-blend-mode: normal //multiply;
        --color-diff-blob-expander-icon: fg2 //#586069;
        --color-diff-blob-expander-hover-icon: #fff;
        --color-diff-blob-expander-hover-bg: ac3 //#0366d6;
        --color-diff-blob-comment-button-icon: #fff;
        --color-diff-blob-comment-button-bg: ac1 //#0366d6;
        --color-diff-blob-comment-button-gradient-bg: ac3 //#0372ef;

        --color-global-nav-logo: #fff;
        --color-global-nav-bg: #24292e;
        --color-global-nav-text: #fff;
        --color-global-nav-icon: #fff;
        --color-global-nav-input-bg: #fafbfc;
        --color-global-nav-input-border: #fafbfc;
        --color-global-nav-input-icon: #d1d5da;
        --color-global-nav-input-placeholder: #959da5;

        --color-calendar-graph-day-bg: bg2 //#ebedf0;
        --color-calendar-graph-day-border: #88888825 //#1b1f230f;
        --color-calendar-graph-day-L1-bg: ac0 //#9be9a8;
        --color-calendar-graph-day-L2-bg: ac0 //#40c463;
        --color-calendar-graph-day-L3-bg: ac0 //#30a14e;
        --color-calendar-graph-day-L4-bg: ac0 //#216e39;
        --color-calendar-graph-day-L4-border: #88888825 //#1b1f230f;
        --color-calendar-graph-day-L3-border: #88888825 //#1b1f230f;
        --color-calendar-graph-day-L2-border: #88888825 //#1b1f230f;
        --color-calendar-graph-day-L1-border: #88888825 //#1b1f230f;
        --color-calendar-halloween-graph-day-L1-bg: v29 //#ffee4a;
        --color-calendar-halloween-graph-day-L2-bg: v26 //#ffc501;
        --color-calendar-halloween-graph-day-L3-bg: v23 //#fe9600;
        --color-calendar-halloween-graph-day-L4-bg: v20 //#03001c;

        --color-footer-invertocat-octicon: fg3 //#d1d5da;
        --color-footer-invertocat-octicon-hover: fg5 //#6a737d;
        --color-pr-state-draft-text: #fff;
        --color-pr-state-draft-bg: bg5 //#6a737d;
        --color-pr-state-draft-border: t;
        --color-pr-state-open-text: #fff;
        --color-pr-state-open-bg: v43 //#28a745;
        --color-pr-state-open-border: t;
        --color-pr-state-merged-text: #fff;
        --color-pr-state-merged-bg: v73 //#6f42c1;
        --color-pr-state-merged-border: t;
        --color-pr-state-closed-text: #fff;
        --color-pr-state-closed-bg: v13 //#d73a49;
        --color-pr-state-closed-border: t;
    }

    // Base styles.
    html {
        scrollbar-color: bg5 bg3
        ::placeholder { c: fg4 }

        body {
            /// Application background.
            &, .application-main > .bg-gray { c: 0 0 bg0 }
            &.page-profile .application-main { b: 0 -24px bg2 }

            if custom_font {
                /// Feat -> UI font.
                &, /.markdown-body {
                    font-family: var(--f-ui) i
                }

                /// Feat -> Code font.
                /// Diff linum/code, CodeMirror, commit reference, utility class.
                /.blob-num,
                /.blob-code-inner,
                /.CodeMirror-lines,
                /.commit-ref,
                /.text-mono {
                    font-family: var(--f-mono) i
                }
            }
        }

        /// Skeleton.
        /.Skeleton {
            background-image: linear-gradient(270deg, bg3, bg2, bg2, bg3)
            /path.js-diff-placeholder { g: bg2 }
        }

        /// Diff -> 'Display the rich diff' loader. @upstream
        .render-container { c: 0 0 bg1 }
        img.octospinner[src] { filter: opacity(0.6) }
    }

    // Better checkbox/radio inputs.
    input {
        r       = unquote
        prefix  = 'data:image/svg+xml;utf8,'
        prefix += '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">'

        &[type='radio'],
        &[type='checkbox'] {
            &, &:focus, &:hover:active, &:disabled, &:hover:active:disabled {
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                cursor: pointer
                height: 0.88rem
                width: 0.88rem
                border: 1px solid bg5
                background-size: cover
                c: fg1 0 bg1
            }
        }

        &[type='radio']:checked {
            z = '<circle cx="256" cy="256" r="128" fill="white"/>'
            background-image: s("url('%s%s</svg>') %s", r(prefix), r(z), i)
            border-radius: 100% i
            &:checked { c: 0 ac4 ac4 }
        }

        &[type='checkbox']:checked {
            z ='<path fill="white" d="M99 213l-1 89 104 102 205-201v-91L203 315 99 213z"/>'
            background-image: s("url('%s%s</svg>') %s", r(prefix), r(z), i)
            c: 0 ac4 ac4
        }

        &[type='checkbox']:indeterminate {
            z = '<rect x="128" y="192" width="256" height="96" fill="white"/>'
            background-image: s("url('%s%s</svg>') %s", r(prefix), r(z), i)
            c: 0 v16 v16
        }
    }
    // Form fixes
    .form-group .form-control[disabled],
    .form-group .form-select[disabled] {
        border-color: var(--color-text-disabled)
        background-color: var(--color-btn-bg)
    }

    // Actions
    .CheckStep {
        & a {
            &:hover {
                color: var(--color-text-white) i;
            }
        }
        &[open] {
            & .CheckStep-header {
                color: var(--color-text-white)
                background-color: var(--color-hidden-text-expander-bg-hover)
                box-shadow: none
                &-label { color: var(--color-text-white) }
            }
        }
        &-line {
            color: var(--color-diff-blob-num-text)
            & .CheckStep {
                &-line-number {
                    color: var(--color-diff-blob-num-text)
                }
            }
            &:hover {
                color: var(--color-text-white)
                background-color: var(--color-hidden-text-expander-bg-hover);
            }
            & .CheckStep {
                &-line {
                    &-content {
                        & a {
                            color: ac1
                        }
                    }
                }
            }
            &.selected {
                color: var(--color-diff-blob-num-text)
                & .CheckStep {
                    &-line-number {
                        color: var(--color-diff-blob-num-text)
                    }
                }
            }
        }
        & .log-line-command {
            color: var(--color-auto-blue-7)
            & .CheckStep-line-number {
                color: var(--color-auto-blue-7)
            }
        }
        &-header {
            background-color: var(--color-hidden-text-expander-bg-hover)
            box-shadow: none
            &:hover {
                background-color: var(--color-hidden-text-expander-bg-hover)
                box-shadow: none
            }
            &-label {
                color: fg2
            }
            &-dropdown {
                &:hover {
                    color: var(--color-text-tertiary)
                    background-color: var(--color-hidden-text-expander-bg-hover) i
                    & .octicon {
                        color: var(--color-text-tertiary) i
                    }
                }
            }
        }
    }
    .CheckRun {
        background-color: var(--color-bg-primary)
        &-header {
            border-bottom: 1px solid bg5
            .CheckRun {
                &-search-input {
                    color: var(--color-text-secondary);
                    background-color: var(--color-input-bg);
                    &:focus {
                        color: var(--color-text-primary);
                    }
                }
            }
            &-counter {
                color: var(--color-text-secondary);
                background-color: var(--color-counter-bg);
            }
        }
        &-log-title {
            color: fg3;
        }
        &-header {
            background-color: var(--color-bg-primary) i
            border-top: 1px solid var(--color-border-primary)
            & .btn-link {
                &:not([disabled]) {
                    color: var(--color-text-tertiary)
                    & .octicon {
                        color: var(--color-text-tertiary)
                    }
                }
            }
            & .btn {
                & .btn-link {
                    &:not([disabled]) {
                        color: var(--color-text-tertiary)
                        & .octicon {
                            color: var(--color-text-tertiary)
                        }
                    }
                }
            }
        }
    }
    .checks-list-item {
        &.bg-white {
            background-color: var(--color-bg-secondary) i
        }
    }

    // Global -> Color overrides.
    /{
        /// NOTE: Remaps bg1 to bg0.
        .js-profile-timeline-year-list,
        .notification-navigation,
        .tabnav {
            &.bg-white {
                c: 0 0 bg0
            }
        }
        .diffbar,
        .TimelineItem-break,
        .contribution-activity-listing .color-bg-primary,
        .page-profile .Progress.color-bg-primary {
            c: 0 0 bg0
        }

        /// NOTE: Remaps bgX to bg1.
        .commit-form,
        .form-actions .bg-gray-light {
            c: 0 0 bg1
        }

        /// NOTE: Remap bg3 to bg2.
        .bg-gray {
            .notification-archived,
            .notification-read {
                c: 0 0 bg2
                &:hover { c: 0 0 ac5 }
            }
        }

        /// Profile -> Navigation.
        #js-pjax-container > .bg-white:first-child {
            c: 0 0 bg2
        }

        /// Topics -> Background.
        [style*='background-color: #fcfdfd'] {
            c: 0 0 bg0
        }
        /// Topics -> Issues.
        [style*='(255\,255\,255\,1)\, rgba(255\,255\,255\,0))'] {
            background: linear-gradient(to top, bg1, t) i
        }

        button.close-button { color: fg1 }
        .vcard-username { c: fg4 }

        // Progress loader
        .progress-pjax-loader > .progress-pjax-loader-bar[style*="background-color"] {
            background-color: ac2 i;
            box-shadow: 0 0 10px ac3;
        }

        // Blue to accent color
        .flash {
            background-image: linear-gradient(ac5 , ac5);
            border-color: ac4
        }
        .flash-warn {
            color: var(--color-alert-warn-text);
            background-image: linear-gradient(var(--color-alert-warn-bg),var(--color-alert-warn-bg));
            border-color: var(--color-alert-warn-border);
        }

        .subnav-item {
            &.selected,
            &[aria-current]:not([aria-current="false"]),
            &[aria-selected="true"] {
                c: 0 ac3 0
            }
        }

        /// Image fixes
        //  Actions e.g. https://github.com/vednoc/dark-github/actions/new
        .repo {
            &-actions-hero {
                filter: invert(0.95) hue-rotate(180deg) brightness(1.2)
                mix-blend-mode: lighten
            }
        }
        //  Marketplace e.g. https://github.com/marketplace
        .MarketplaceBackground-recommendations {
            /img[src*="marketplace-illustration"] {
                filter: invert(0.95) hue-rotate(180deg) brightness(1.2)
                mix-blend-mode: lighten
            }
        }
    }
    // Navbar.
    .js-header-wrapper {
        border-bottom: 1px solid bg5

        /// Feat -> Sticky navbar.
        if (navbar_sticky) {
            position: sticky i
            z-index: 99
            top: 0 i

            /// Fix progress bar position.
            .Progress { top: 0 }

            /// Dashboard -> Tweak top offset for sidebar items.
            /.dashboard-sidebar.is-stuck { margin-top: 60px i }

            /// Issues -> Sticky header.
            /.gh-header .gh-header-sticky.is-stuck {
                margin-top: 3px i
                + .gh-header-shadow { height: 63px i }
            }
        }

        /// Search. @upstream
        .header-search-wrapper {
            c: 0 0 bg4
            input { c: fg1 }

            /// Fix styles for focused state.
            &.focus {
                border-bottom-left-radius: 0 i
                border-bottom-right-radius: 0 i

                /// Reset results.
                .Box {
                    margin-left: -1px
                    width: calc(100% + 2px) i
                }
            }
        }

        /// Notifications. @upstream
        .mail-status {
            background-image: none i
            c: 0 0 ac1
        }

        /// Logged out style.
        .header-logged-out {
            padding-top: 3px i
            padding-bottom: 3px i

            /// Default one uses white color.
            --color-text-white: fg1
        }
    }

    .notifications-list-item.notification-unread .notification-list-item-unread-indicator { c: 0 0 ac1 }

    // Navigation. @upstream
    .UnderlineNav-item {
        &.selected,
        &[role="tab"][aria-selected="true"],
        &[aria-current]:not([aria-current="false"]) {
            c: 0 ac0
        }
        &:focus, &:hover { c: 0 bg5 }
        /.UnderlineNav { b: inset 0 -1px 0 bg4 }
    }

    // Sub-navigation. @upstream
    .site-subnav {
        b: 0 1px 0 bg3

        /.subnav-link {
            c: fg4
            &:hover { c: fg2 bg5 }
            &.selected { c: fg1 ac0 }
        }
    }

    // Reset colors for tabs.
    .tabnav-tab {
        &.selected,
        &[aria-selected="true"],
        &[aria-current]:not([aria-current="false"]) {
            c: 0 0 bg0
        }
        &[aria-current="true"], /// Explore: topics/tag
        &[aria-current="true"].code,
        &[aria-current="true"].preview,
        &[aria-selected="true"].write-tab:not(#z),
        &[aria-selected="true"].preview-tab:not(#z) {
            c: 0 0 bg1
        }
    }

    // Modals -> Overlay.
    .details-overlay-dark[open] > summary::before {
        opacity: 0.5
        c: 0 0 bg1
    }

    // Project -> Tags. @upstream
    .topic-tag {
        &-action, &-link { c: 0 ac3 }
    }

    // Project -> File tree.
    .Box {
        /// Use lighter background color for focused items.
        &-row--focus-gray.navigation-focus { c: 0 0 bg2 }

        /// Border color for modals.
        &--overlay { c: 0 bg5 }

        /// Tree items.
        &-row.js-navigation-item {
            c: 0 bg4

            /// Fix double border in issues.
            &:first-of-type { c: 0 t }
        }

        /// Remove background from avatar groups.
        /.AvatarStack-body { c: 0 0 t }

        /// Feat -> Old readme header design.
        if (readme_header) {
            &-header.border-bottom-0 {
                border-bottom: 1px solid bg5 i
                c: 0 0 bg2

                /// Fix padding in the body.
                + .Box-body { padding-top: 32px i }
            }
        }

        /// Feat -> Neutral colors in latest commit.
        if (latest_commit) {
            &-header--blue { c: 0 bg5 bg2 }

            /// Commit details.
            /.full-commit {
                c: 0 0 bg2
                p.commit-title { c: fg1 }
            }
        }
        else {
            /.full-commit {
                p.commit-title {
                    color: fg3
                }
            }
        }


        /// Feat -> Shorter headers.
        if (short_headers) {
            condition = (readme_header == 1) ? '' : '--blue'
            /.repository-content &-header{ condition } {
                padding-top: 8px
                padding-bottom: 7px

                /// Smaller avatars.
                .avatar[style*='width:24px'] {
                    margin-top: 2px
                    margin-left: 2px
                    &, img {
                        width: 20px i
                        height: @width
                    }
                }
            }
        }
    }

    // Project -> Insights.
    .menu-item {
        c: 0 bg5
        &.selected::before,
        &[aria-selected="true"]::before,
        &[aria-current]:not([aria-current="false"])::before {
            c: 0 0 ac0
        }

        /// Graphs -> Contributors.
        /.graphs {
            .tint-box, .capped-card-content {
                c: 0 0 bg2
            }
            line[stroke*='#000'] { g: 0 bg4 }
            text[fill='#6a737d'] { g: fg4 }

            /// Commits -> Day names.
            text[text-anchor='middle'] { g: fg3 }

            /// Network -> Invert colors.
            if (dark(BG)) {
                /#network > .Box {
                    c: 0 0 #333333
                    canvas { filter: invert(0.8) hue-rotate(180deg) }
                }
                /// Network tree image.
                /.network-tree {
                    filter: invert(0.95) hue-rotate(180deg) brightness(1.2)
                    mix-blend-mode: lighten
                }
            }
        }

        /// Graphs -> Traffic.
        /.traffic-graph {
            text[fill='#000'] { g: fg1 }
            line[stroke='#000'] { g: 0 bg4 }

            /// Add whitespace. @upstream
            &-stats {
                c: 0 bg5
                ul > li {
                    padding: 1rem
                    text-align: center
                    c: fg1 0 bg2
                    &:first-of-type {
                        border-radius: 0 0 0 6px
                        border-right: 1px solid bg5
                    }
                    &:last-of-type { border-radius: 0 0 6px 0 }
                }
            }
        }

        /// Graphs -> Pulse.
        /.graph-canvas {
            text[fill='#000'] { g: fg1 }
            line[stroke*='#000'] { g: 0 bg4 }
        }

        /// Tables.
        /.gutter table.capped-list th { c: 0 bg4 }
    }

    // Diff -> Changes. @upstream
    .blob {
        /// File background.
        /.file { c: 0 0 bg1 }

        /// Inline diffs.
        &-code {
            &-addition .x { c: white }
            &-deletion .x { c: white }
        }

        /// Diff -> Selected line tweaks.
        /.selected-line {
            z-index: 1
            &::after { z-index: -1 }
        }

        /// Line highlight.
        /table.highlight > tbody > tr {
            c: 0 0 bg1
            &:hover > td { c: 0 0 bg2 }
            &:hover > td.highlighted { c: 0 0 v31 }
            &.divider:hover > td { c: 0 0 bg3 }
        }

        /// Code snippet dividers. @upstream
        /.divider &-num { c: 0 0 bg3 }
        /.divider &-code { c: 0 0 bg2 }

        /// Code search dividers. @upstream
        /.code-list { & &-item { c: 0 bg3 }}
    }

    // Notes -> Resets.
    .timeline-comment {
        &[class*='--caret'] {
            &::before { border-right-color: bg5 }
            &::after { border-right-color: bg3 i }
            &.current-user {
                &::before { border-right-color: ac2 i }
                &::after { border-right-color: ac4 i }
            }
            &.branch-action-body {
                &::after { border-right-color: bg1 i }
            }
            /:target &::before { border-right-color: var(--color-auto-blue-4) i }
        }

        /// PR -> Merged pull requests. @upstream
        /.branch-action {
            &-state-merged &-body {
                c: 0 v73
                &[class*='-caret']::before { border-right-color: v75 i }
                &[class*='-caret']::after { border-right-color: bg1 i }
            }
        }

        /// PR -> CLI instructions.
        /.merge-branch-manually { c: 0 bg5 }
        /.copyable-terminal {
            border: 1px solid bg5
            c: 0 0 bg1
        }

        /// Remove borders from input box.
        &-wrapper { c: 0 t }

        /// Remove header/input backgrounds.
        /.gh-header, /.discussion-timeline-actions { c: 0 0 t }

        /// Badges.
        /.TimelineItem-badge { --color-bg-canvas: var(--bg-0) }

        /// Subscribe to updates.
        /.thread-subscription-status {
            c: 0 bg5
            /.sidebar-notifications & { c: 0 0 bg0 }
        }
    }

    // Profile.
    /{
        /// Calendar graph. @upstream
        .calendar-graph {
            rect[fill*='graph-day-L1'] { fill-opacity: 0.25 }
            rect[fill*='graph-day-L2'] { fill-opacity: 0.50 }
            rect[fill*='graph-day-L3'] { fill-opacity: 0.75 }
            rect[fill*='graph-day-L4'] { fill-opacity: 1.00 }
        }

        /// Calendar legends and contributions in activity.
        .legend li,
        .Progress-item {
            &[style*='graph-day-L1'] { opacity: 0.25 }
            &[style*='graph-day-L2'] { opacity: 0.50 }
            &[style*='graph-day-L3'] { opacity: 0.75 }
            &[style*='graph-day-L4'] { opacity: 1.00 }
        }

        /// Activity overview.
        .halloween-activity-overview {
            .activity-overview { &-axis, &-point { g: 0 v24 }}
            /.activity-overview { &-axis, &-point { g: 0 ac3 }}
        }
    }

    // Code.
    /{
        /// Feat -> Add borders around code blocks and similar elements.
        if (code_borders) {
            /// Add border around code and commit references.
            .markdown-body { code, tt, pre { border: 1px solid bg5 }}
            .commit { &-ref, &-sha { border: 1px solid bg5 }}
            .branch-name { border: 1px solid bg5 }
        }

        /// Syntax highlighting.
        .pl- {
            &k { color: v17 }
            &c { color: fg4 }
            &mi { color: fg0 }
            &ent { color: v44 }
            &e, &en { color: v86 }
            &smw, &v { color: v25 }
            &c1, &s &v { color: v67 }
            &s &s1, &smi { color: v89 }
            &mh, &mh &en, &ms { c: v75 }
            &pds, &s, &s &pse &s1, &sr,
            &sr &cce, &sr &sra, &sr &sre { color: v46 }
            &ii { c: white 0 v15 }
            &mi1 { c: v49 0 v41 }
            &md { c: v19 0 v11 }
            &corl { c: v56 }
            &mb { c: fg1 }
        }

        /// CodeMirror editor.
        .CodeMirror {
            &[class*='github-light'] {
                c: fg1 0 bg1
                r: 0 0 6px 6px
            }
            &-lines, &-gutters { c: 0 0 bg1 }
            &-linenumber { c: fg4 }

            /// Gist -> Editor backaground.
            /.file.js-code-editor { c: 0 0 bg1 }
        }
    }

    // Extension -> Gitako.
    /// Link: https://github.com/EnixCoda/Gitako
    /// TODO: Maybe switch to different background colors.
    .gitako-ready {
        /// Logo.
        .gitako-toggle-show-button { height: 60px i }

        /// Colors.
        /.gitako-side-bar {
            a { c: ac0 }

            /// Resets.
            &-body { c: 0 bg5 bg2 }
            .header .meta-bar {
                min-height: 62px i
                c: 0 0 bg3
                [class*='BranchName-'] { c: fg3 0 bg4 }
                [class*='Breadcrumb']::after { c: fg3 }
            }

            /// Fix 'Loading' and 'Access Denied' borders.
            .loading-indicator-container,
            .header + .description {
                c: 0 bg5
            }

            /// Files.
            .file-explorer {
                .search-input {
                    c: fg1 bg5 bg2
                    border-left: none
                    border-right: none
                    padding: 6px 0
                    &:hover { c: 0 0 bg3 }
                    .TextInput-icon { c: fg3 }
                }
                .node-item {
                    c: fg1 bg4 bg2
                    &:hover { c: 0 0 bg3 }
                    &:active, &.focused { c: 0 0 bg4 }
                }
                mark { c: white 0 ac3 }
            }

            /// Footer.
            .gitako-settings-bar {
                c: 0 0 bg2
                .header-row { c: 0 bg5 }
            }

            /// Settings -> Header.
            .gitako-settings-bar-title {
                c: 0 bg5 bg3
                b: inset 0 -1px bg5 i

                /// Remove background.
                + div > .shadow-shelter { c: 0 0 t }
            }


            /// Settings -> Buttons and inputs.
            select,
            .TextInput-wrapper,
            [class*='ButtonBase-'] {
                c: fg1 bg5 bg3
                b: none i
                &:hover { c: 0 0 bg4 }
                &:focus-within {
                    c: 0 ac0
                    b: 0 0 0 2px ac3 i
                }
            }

            /// Buttons.
            .close-side-bar-button { c: 0 0 bg3 }
            .settings-button { c: 0 0 bg2 }
            .octicon { c: fg3 }

            /// Resize.
            .gitako-resize-handler { c: 0 bg5 bg3 }
        }

        /// Fixes for experimental "shrink" feature.
        &.shrink-github-header {
            /// Adjust header/icon sizes.
            @media (min-width: 1280px) {
                .Header { padding: 16px i }

                /// Feat -> Fix glitchy Gitako feature.
                if (gitako_shrink) {
                    .UnderlineNav {
                        a[style*='visibility: hidden'] { visibility: unset i }
                        > ul + div[style] { visibility: hidden i }
                    }
                }
            }

            /// Reset backgrounds for header and navigation.
            .js-header-wrapper { c: 0 0 bg3 }
            main > :first-child { b: inset 0 -1px 0 bg4 }
        }

        /// Clippy in code blocks.
        /.clippy-wrapper .clippy {
            c: 0 bg5 bg4
            i { filter: invert(0.8) }
            &:hover { c: 0 0 bg5 }
        }
    }

    // Extension -> GitHub Original Streak.
    /// Link: https://github.com/Naramsim/GithubOriginalStreak
    .original-streak {
        .contrib-number { c: fg1 }
        .text-muted { c: fg3 }
    }
}

@-moz-document regexp('https?://((docs)\\.)github?.com(/.*)?') {
    body {
        &, p { c: fg1 }
        a { color: ac1 }
    }
    header {
        & #search-results-container {
            background: var(--color-bg-tertiary)
            box-shadow: 0 1px 15px bg2
        }
    }
    /// Image fixes
    //  All procedural images
    .procedural-image-wrapper {
        /img {
            filter: invert(.93) hue-rotate(180deg) brightness(1.3)
            mix-blend-mode: lighten
        }
    }
    // Landing svg
    #landing {
        \[data-name="octocat header"] {
            filter: invert(.93) hue-rotate(180deg) brightness(1.3)
            mix-blend-mode: lighten
        }
    }

    /// More guides.
    .Box {
        border: 1px solid bg4
        background-color: bg2
    }

    .dropdown-withArrow svg.arrow[stroke*="#1277eb"] {
        stroke: var(--color-icon-primary)
    }

    /// Sidebar.
    .sidebar {
        background-color: var(--color-bg-secondary)
        &-maptopic {
            .sidebar-article {
                &::before {
                    border-left: 1px solid ac4
                }
                &.active {
                    &::before {
                        border-left: 3px solid ac4;
                    }
                }
            }
        }
        &-background-color {
            background-color: var(--color-bg-tertiary)
        }
        &-category {
            &.active {
                background-color:  var(--color-bg-tertiary)
            }
            > a { color: ac2 }
            summary a { color: ac2 }
        }
        &-product {
            > a { color: ac2 }
            summary a { color: ac2 }
            &s {
                a:hover { color: ac1 }
                arrow:hover { color: ac1 }
            }
        }
    }

    .sidebar-product.is-current-page > a, .sidebar-category.is-current-page > a,
    .sidebar-maptopic.is-current-page > a, .sidebar-article.is-current-page > a {
        color: ac2
    }

    /// Backgrounds.
    .bg {
        &-blue-light { c: 0 0 var(--v6-0) }
        &-blue { c: 0 0 var(--v6-3) }
        &-purple-light { c: 0 0 var(--color-auto-purple-9) }
    }

    /// Borders.
    .border {
        &-blue { c: 0 var(--v6-3) }
        &-purple { c: 0 var(--color-auto-purple-6) }
        &-top { border-top-color: var(--color-border-primary) i }
        &-bottom { border-bottom-color: 0 var(--color-border-primary) }
        &-gray-light { border-color: var(--color-border-primary) i }
    }

    .markdown-body {
        & table {
            & tr {
                background-color: var(--bg-0)
                border-top-color: var(--color-border-secondary)
                &:nth-child(2n) {
                    background-color: var(--bg-0)
                }
            }
            & th {
                background-color: var(--bg-0)
                box-shadow: 0 3px 0 0 var(--color-border-secondary);
            }
        }
        & h2 { border-bottom-color: var(--color-border-primary) }
        & .highlight pre,
        & pre {
            background-color: var(--color-bg-secondary)
            & .hljs {
                color: var(--color-alert-info-text)
            }
        }
    }

    /// Text colors
    .text {
        &-gray-dark { c: fg1 }
        &-gray { c: fg3 }
        &-gray-light { c: fg3 }
        &-white { c: fg1 }
    }

    .color {
        &-gray-5 { c: fg5 }
    }

    .link {
        &-gray-dark {
            c: var(--color-text-secondary)
            &:hover { c: ac1 }
        }
        &-gray {
            &:hover {
                color: ac1 i
            }
        }
    }

    .bg-white {
        c: 0 0 bg2
    }

    .box-shadow-large {
        box-shadow: 0 8px 20px bg2 i;
    }

    [open] > .btn {
        border-color: var(--color-btn-border)
        background-color: var(--color-btn-bg)
    }
    .btn {
        color: var(--color-btn-primary-text)
        border-color: var(--color-btn-border)
        background-color: var(--color-btn-bg)
        transition: color, background 0.2s
        &:active,
        &.selected,
        &[aria-selected="true"] {
            background-color: var(--color-btn-hover-bg) i
            box-shadow: var(--color-shadow-inset)
        }
        &.disabled,
        &:disabled,
        &[aria-disabled="true"] {
            color: var(--color-text-disabled)
            background-color: var(--color-btn-bg)
            border-color: var(--color-btn-border)
        }
        &.hover,
        &:hover {
            background-color: var(--color-btn-hover-bg)
            border-color: var(--color-btn-hover-border)
        }
        &-outline {
            color: ac2
            border-color: bg5
            background-color: var(--color-btn-bg)
            &:hover { background-color: bg3 }
            &:focus { box-shadow: 0 0 0 3px ac4 }
            &.disabled,
            &:disabled,
            &[aria-disabled="true"] {
                color: var(--color-btn-outline-disabled-text)
                background-color: var(--color-btn-bg)
                border-color: var(--color-btn-border)
            }

            &-mktg {
                color: var(--ac-1)
                border-color: var(--ac-1)
                background-color: var(--bg-0)
                &:hover { color: ac0; border-color: ac0 }
                &:focus { box-shadow: 0 0 0 3px ac4 }
            }
        }
    }

    :checked + .x-radio-label {
        background: ac3
    }

    #landing[style*="background-color: #fafbfc"],
    .js-support-banner[style*="background-color: #fafbfc"] {
        c: fg1 0 var(--color-bg-canvas)
    }

    .underline-dashed {
        background-image: linear-gradient(to right, bg5 50%, bg0 0%) i
    }
    .UnderlineNav-item {
        color: var(--color-menu-heading-text)
    }

    .ais-SearchBox-input {
        color: var(--color-text-secondary)
        c: 0 var(--color-border-secondary) bg2
        b: var(--color-shadow-small)
        &:focus { b: 0 0 0 3px ac4 }
    }
    .ais-Hits-item:hover {
        background: var(--color-alert-success-bg);
    }
    .search-result-title mark, .search-result-title .ais-Highlight-highlighted {
        color: ac1;
    }
    .nav-desktop {
        &-productDropdown,
        &-langDropdown {
            background: var(--color-dropdown-bg)
        }
    }
}

@-moz-document regexp('https?://((support)\\.)github?.com(/.*)?') {
    body {
        color: fg2
        a { color: ac3 }
    }
    .Header {
        background-color: bg3
        &-item {
            & img {
                filter: invert(1)
            }
        }
        & .Header-link {
            color: ac1
        }
    }

    hr, .rule { border-color: var(--color-border-primary) }

    .bg-blue { background-color: ac3 i }

    .text {
        &-blue { c: ac1 0 0 }
        &-gray { color: fg1 i }
        &-gray-dark { color: fg2 i }
        &-gray-light { color: fg1 i }
    }

    .link-gray {
        color: fg5 i
        &:hover {
            color: ac1 i
        }
    }
    .btn {
        color: var(--color-btn-primary-text)
        border-color: var(--color-btn-border)
        background-color: var(--color-btn-bg)
        &:focus,
        &.focus {
            box-shadow: 0 0 0 0.2px fg5
        }
        &:active,
        &.selected,
        &[aria-selected="true"] {
            background-color: var(--color-btn-focus-bg)
            box-shadow: var(--color-shadow-inset)
        }
        &:hover {
            background-color: var(--color-btn-hover-bg)
        }
        &-mktg {
            color: var(--color-btn-primary-icon)
            border: 1px solid ac2
            &:focus {
                box-shadow: 0 0 0 0.2em ac5
            }
            &:hover {
                border: 1px solid ac2
            }
    }
    &-primary {
        color: var(--color-btn-primary-text)
        background-color: var(--color-btn-primary-bg)
        box-shadow: 0 1px 0 rgba(27,31,35,0.1),inset 0 1px 0 rgba(255,255,255,0.03);
        &:hover {
            background-color: var(--color-btn-primary-hover-bg) }
        }
        &:focus,
        &.focus {
            box-shadow: 0 0 0 2px ac5
        }
        &:active,
        &.selected,
        &[aria-selected="true"] {
            background-color: var(--color-btn-primary-focus-bg)
            box-shadow: var(--color-shadow-inset)
        }
    }

    .Box {
        background-color: var(--color-bg-primary)
        border: 1px solid var(--color-border-primary)
        &-header {
            background-color: var(--color-bg-secondary);
            border-color: var(--color-border-primary);
        }
    }

    .border-bottom {
        border-bottom: 1px solid var(--color-border-primary) i;
    }

    .form-select, .form-control {
        color: var(--color-text-secondary)
        background-color: var(--color-input-bg)
        border-color: var(--color-input-border)
        box-shadow: none;
        &.focus,
        &:focus {
            border-color: ac2
            box-shadow: 0 0 0 3px ac5;
        }
    }
    .form-group {
        & .form-control {
            background-color: var(--color-input-bg)
            &:focus {
                background-color: var(--color-input-contrast-bg)
                border-color: ac2
                box-shadow: 0 0 0 3px ac5;
            }
        }
        & #q {
            background-color: var(--color-input-bg);
        }
    }
    // recolor search icon svg
    @css {
        #q {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="%23bebebe" fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0013 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 000-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"/></svg>') no-repeat 6px
        }
    }

    .previewable-comment-form .comment-form-head.tabnav {
        background: bg3
    }

    .add-markdown-comment {
    color: fg3
    border: 1px solid var(--color-border-primary)
    }

    .tabnav {
        border-bottom: 1px solid var(--color-border-primary)
        &-tab {
            color: fg3
            &:hover {  color: fg2 }
        }
    }
    .tabnav-tab.selected, .tabnav-tab[aria-selected="true"],
    .tabnav-tab[aria-current]:not([aria-current="false"]) {
        border-color: var(--color-border-primary)
    }

    .bg-gray-light {
        background-color: var(--color-bg-primary) i;
    }

    .drag-and-drop {
        color: var(--color-text-tertiary)
        background-color: var(--color-bg-primary)
        border: 1px solid var(--color-border-primary)
    }
}

@-moz-document regexp('https?://render\.githubusercontent?.com(/.*)?') {
    :root {
        --bg-1: bg-1
        --bg-2: bg-2
        --bg-5: bg-5
        --fg-1: fg-1
        --fg-3: fg-5
        --v1-5: v1-5 // red
        --v1-6: v1-6
        --v4-5: v4-5 // green
        --v4-6: v4-6
    }

    /// Diff -> Image background.
    .render-shell {
        img[src*='svg']:hover { filter: invert() hue-rotate(180deg) }
        &, /body {
            background-image: none
            c: 0 0 bg1
        }
        img, img.asset { c: 0 bg1 }

        /// Rich diff -> Border/text colors.
        .deleted-frame { c: 0 v15; &::before { c: v16 }}
        .added-frame { c: 0 v45; &::before { c: v46 }}
        .shell p { c: fg3 }

        if (dark(BG)) {
            /// Rich diff -> Invert controls.
            .swipe .swipe-bar,
            .onion-skin .controls > * {
                filter: invert(0.95) brightness(150%)
            }

            /// OpenStreetMap.
            .leaflet {
                &-bar, &-control-layers { c: 0 fg1 }
                &-bar > a:last-child { border-bottom: none }
                &-container { filter: invert(0.95) hue-rotate(180deg) brightness(120%) }
                &-popup-content { overflow-y: auto }
                &-marker-icon { filter: invert(1) grayscale(1) brightness(130%) }
            }
        }
    }

    // Diff -> Images diff bar.
    .render-bar {
        c: 0 bg5 bg2
        li {
            c: fg3 bg5
            &.active {
                c: fg1
                &::before { c: bg5 }
            }
        }
    }
}
